* {
    box-sizing: border-box;
    text-align: left;
    
    
}

body {
    background-image: url("/assets/images/background.png");
}


#name {
    margin-left: 280px;
    background-color: rgb(46, 177, 177);
    margin-right: 280px;
    float: left;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    
    margin-bottom: 0;
    margin-top: 0;
    color: white;
    font: 50px;
    font-family: Georgia, Times, 'Times New Roman',  serif;

}

#name1 {
    margin-left: 360px;
    background-color: rgb(46, 177, 177);
    
    float: left;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 0;
    margin-top: 0;
    color: white;
    font: 50px;
    font-family: Georgia, Times, 'Times New Roman',  serif;
}

#name2 {
    margin-left: 360px;
    background-color: rgb(46, 177, 177);
    
    float: left;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 0;
    margin-top: 0;
    color: white;
    font: 50px;
    font-family: Georgia, Times, 'Times New Roman',  serif;
}

#about, #portfolio, #contact, #contact2, #contact1 {
    float: right;
    width: 5%;
    margin-top: 20px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

#contact {
    margin-right: 280px;
}

#contact2, #contact1 {
    margin-right: 360px;
}

ul {
    list-style-type: none;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
    



#body {
    box-sizing: border-box;
    overflow: auto;
    clear: both;
    width: 100%;
    border-style: solid;
    border-top-width: 20px;
    border-left-width: 280px;
    border-right-width: 280px;
    border-bottom-width: 50px;
    
    border-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR1zPRL_vfw27fx9prXP-CbifFBc7Dt4r39ALF-CnfqtoF3gFrhgA&s) 30 round;
    
}


#body1 {
    box-sizing: border-box;
    overflow: auto;
    clear: both;
    width: 100%;
    border-style: solid;
    border-top-width: 20px;
    border-left-width: 360px;
    border-bottom-width: 50px;
    border-right-width: 360px;
    border-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR1zPRL_vfw27fx9prXP-CbifFBc7Dt4r39ALF-CnfqtoF3gFrhgA&s) 30 round;
}

#body2 {
    box-sizing: border-box;
    overflow: auto;
    clear: both;
    width: 100%;
    border-style: solid;
    border-top-width: 20px;
    border-left-width: 360px;
    border-bottom-width: 50px;
    border-right-width: 360px;
    border-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR1zPRL_vfw27fx9prXP-CbifFBc7Dt4r39ALF-CnfqtoF3gFrhgA&s) 30 round;
    
}


#mypicture {
    float: left;
    padding: 20px;
    width: 30%;
    height: 150px
}

#boxtitle {
    font-size: 30px;
    font-weight: bold;
    padding-left: 20px;
    color: rgb(46, 177, 177);
    font-family: Georgia, Times, 'Times New Roman',  serif;
}

#first, #second, #third {
    float: left;
    width: 70%;
    text-align: left;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    
    
}

#second, #third {
    clear: left;
    width: 100%;

}

#firstline, #secondline, #thirdline, #firsttext, #secondtext, #thirdtext, #submitbutton {
    margin-left: 20px;
    margin-bottom: 0;
    font-weight: normal;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;

}

#firsttext, #secondtext, #thirdtext {
    width: 90%;
    padding-top: 0;
}

#thirdtext {
    height: 150px;
    margin-bottom: 10px;
    
    
}

#submitbutton {
    background-color:  rgb(46, 177, 177);
    color: white;
    height: 30px;
    width: 80px;
    text-align: center;
    margin-bottom: 10px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

#top {
    height: 1px;
    background-color:  rgb(46, 177, 177);
    width: 100%;
    margin-bottom: 0;
}


#game {
    float: left;
    width: 27%;
    margin: 20px;
    height: 100px;
}


#within {
    height: 1px;
    background-color:  rgb(212, 221, 224);
    width: 90%;
}


footer {
    height: 5px;
    background-color:  rgb(46, 177, 177);
}
